.event {
  position: absolute;
  top: 15%;
  left: 25%;
  height: 45%;
  width: 50%;
}

.buttonPrevious {
  position: absolute;
  top: -20px;
  right: 50%;
}

.buttonNext {
  position: absolute;
  top: -20px;
  left: 50%;
}